In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [2]:
# data = pd.read_excel(
#     io="data/test_case.xlsx",
#     engine="openpyxl",
#     sheet_name='Data',
#     skiprows=1,
#     usecols = 'B:O')
data = pd.read_csv("data/test_case.csv")

In [3]:
ro_code = ['BNRO', 'BRO', 'CJRO', 'CSRO', 'EJRO', 'JRO', 'KRO', 'MPRO','NSRO', 'SPRO', 'SSRO', 'WJRO']
dissolve_id = [ 6,  8,  1,  4,  2,  9,  3,  0,  7, 10,  5, 11]
map_ro_id = {}

for i, j in zip(ro_code, dissolve_id):
    map_ro_id[i] = j

In [4]:
map_ro_id

{'BNRO': 6,
 'BRO': 8,
 'CJRO': 1,
 'CSRO': 4,
 'EJRO': 2,
 'JRO': 9,
 'KRO': 3,
 'MPRO': 0,
 'NSRO': 7,
 'SPRO': 10,
 'SSRO': 5,
 'WJRO': 11}

In [17]:
data['region_id'] = data['REGION'].apply(lambda x : map_ro_id[x])

In [19]:
data.to_csv("data/test_case.csv")

In [32]:
region_data = data.groupby(['REGION',"region_id"]).count().reset_index()

In [13]:
data.drop('Unnamed: 0', axis = 1,inplace=True)

In [6]:
data["Year"]= data["Year"].apply(lambda x : str(x))

In [21]:
data

,SYSTEM_KEY,NE,SITE_ID,SITE_NAME,New_Site_id,New_site_name,LONG,LAT,REGION,Year,PROJECT,Vendor,Plan,Actual,region_id
0,22ND001NW032073,RF,14KRA0085,JANTIHARJO,14KRA0085,JANTIHARJO,110.96814,-7.61810,CJRO,2024,Site Reactivation - Solo Area,HUAWEI,2022-08-21,2023-11-13,1
1,23ND001NW020990,RF,13BDG0134,_PARISVANJAVA,13BDG0134,IN_PARISVANJAVA_WN,107.59594,-6.88831,WJRO,2024,Tomahawk Q1 - RAN Expansion,HUAWEI,2023-02-28,2024-02-09,11
2,23ND019NW010097,RF,12JKS0619,3G MAMPANG PRAPATAN IV KUNINGAN,12JKS0619,3G MAMPANG PRAPATAN IV KUNINGAN,107.14874,-6.33056,JRO,2024,Q3 Remaining Program,ERICSSON,2023-07-01,2024-05-22,9
3,23ND019NW010245,RF,11TGN0548,BUMISERPONGDAMAI_MT,11TGN0548,BUMISERPONGDAMAI_MT,106.64028,-6.28976,BRO,2024,Q3 Remaining Program,ERICSSON,2023-07-01,2024-02-13,8
4,23ND019NW010316,RF,12JKT0607,TERMINALTERPADUPULOGEBANG_CM,12JKT0607,TERMINALTERPADUPULOGEBANG_CM,106.95308,-6.21194,JRO,2024,Q3 Remaining Program,ERICSSON,2023-07-01,2024-05-06,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10181,OP24015PTHWI000035,RF,17DPR0292,MB_GWKAREA1_HS,17DPR0292,MB_GWKAREA1_HS,NaN,NaN,BNRO,2024,MBTS G20 GWK - RAN New,HUAWEI,2023-01-15,2022-11-03,6
10182,WO23015NOKIA000001,RF,01SNB0001,SIMEULUE_SUKA KARYA1,01SNB0001,SIMEULUE_SUKA KARYA1,NaN,NaN,NSRO,2024,Falcon Q1 Preponement,NOKIA,2024-02-25,2024-04-04,7
10183,WO23015NOKIA000002,RF,01KTN0022,MR_KUTE SERI,01KTN0022,MR_KUTE SERI,NaN,NaN,NSRO,2024,Falcon Q1 Preponement,NOKIA,2024-03-31,2024-02-21,7
10184,WO23015PTHWI000001,RF,13SRN0637,YAPI_ALHUSAENI_IB,13SRN0637,YAPI_ALHUSAENI_IB,NaN,NaN,WJRO,2024,Falcon Q1 Preponement,HUAWEI,2024-02-29,2024-05-31,11
10185,WO23015PTHWI000002,RF,29JNP0087,TAMALATEA_TURATEA_CM,29JNP0087,TAMALATEA_TURATEA_CM,NaN,NaN,SPRO,2024,Falcon Q1 Preponement,HUAWEI,2024-02-29,2024-02-14,10

In [27]:
provider_data

,Vendor,SYSTEM_KEY,NE,SITE_ID,SITE_NAME,New_Site_id,New_site_name,LONG,LAT,REGION,Year,PROJECT,Plan,Actual,region_id,Scope,OA %
0,DEA,5,5,5,5,5,5,0,0,5,5,5,0,0,5,5,0.000000
1,ERICSSON,2842,2842,2842,2842,2779,2779,717,717,2842,2842,2842,2432,2425,2842,2842,0.853272
2,HUAWEI,3778,3778,3778,3778,3778,3778,576,576,3778,3778,3778,3565,3417,3778,3778,0.904447
3,NOKIA,3561,3561,3561,3561,3561,3561,1367,1367,3561,3561,3561,3262,2691,3561,3561,0.755687

In [67]:
provider_data = data.groupby('Vendor').count().reset_index()
provider_data['Scope'] = provider_data['NE']
provider_data['OA %'] = provider_data['Actual']/provider_data['Scope']
provider_data['OA %'] = provider_data['OA %'].apply(lambda x: f"{(int(x*100))}%")
provider_data['Unsigned'] = provider_data['Scope']-provider_data["Plan"]
provider_data=provider_data[['Vendor','Scope','Plan','Actual', 'Unsigned', 'OA %']]
all = pd.DataFrame(provider_data.sum()).T[['Vendor','Scope','Plan','Actual', 'Unsigned', 'OA %']]
all['Vendor'] = "GRAND TOTAL"
# all.drop('Vedor', axis = 1, inplace = True)
all['OA %'] = f"{int((all.loc[0,'Actual']/all.loc[0,'Scope'])*100)}%"
final_df = pd.concat([provider_data, all], ignore_index=True).set_index('Vendor')
final_df

             Scope  Plan Actual Unsigned OA %
Vendor
DEA              5     0      0        5   0%
ERICSSON      2842  2432   2425      410  85%
HUAWEI        3778  3565   3417      213  90%
NOKIA         3561  3262   2691      299  75%
GRAND TOTAL  10186  9259   8533      927  83%

In [15]:
years_data = data.groupby('Year').count().reset_index()

In [21]:
# !pip install nbformat
fig = go.Figure(
    data =[
        go.Bar(name = "Actual", x = years_data["Year"].unique(), y =  years_data["Plan"]),
        go.Bar(name = "Actual", x = years_data["Year"].unique(), y =  years_data["Actual"])
    ], title = "Implemented Project"
)
fig.set_title()
fig.show()

TypeError: invalid Figure property: title
title
Bad property path:
title
^^^^^

In [52]:
data.count()

pandas.core.series.Series

In [15]:
refine_vendor = {
    "ericsson": "ERICSSON",
    "huawei" : "HUAWEI",
    "nokia" : "NOKIA",
    "dea" : "DEA"
                 }
data["Vendor"] = data["Vendor"].apply(lambda x:refine_vendor[x.lower()])

In [19]:
data.to_csv('data/test_case.csv')

In [ ]:
data

In [13]:
regional_data = data.groupby('REGION').count()[['NE', 'Plan', 'Actual']]
regional_data = regional_data.assign(dissolve_id = dissolve_id)
regional_data.to_csv('regional_data.csv')

In [8]:
data["REGION"].unique()

array(['CJRO', 'WJRO', 'JRO', 'BRO', 'EJRO', 'SPRO', 'NSRO', 'KRO',
       'CSRO', 'SSRO', 'BNRO', 'MPRO'], dtype=object)

In [7]:
sum([False, False, False, False, False])

0